{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2>👩‍💼 Manager Dashboard</h2>

  <ul>
    <li><a href="{% url 'assign_multiple_shifts' %}">📋 Assign Multiple Shifts</a></li>
    <li><a href="{% url 'export_shifts_excel' %}">📥 Export Shifts to Excel</a></li>
    <li><a href="{% url 'export_shifts_pdf' %}">📄 Export Shifts to PDF</a></li>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">🚪 Logout</button>
      </form>
      
  </ul>
{% endblock %}
